@using System.Web.UI.WebControls
@model alenMotorsWeb.Models.OrderViewModel

@{
    ViewBag.Title = "Alen Motors";
    Layout = "/Views/Home/_LayoutIndex.cshtml";
}
@section script{
    <script>
        //$('.datepicker').datepicker();
        $(function() {
            $('#datetimepicker6').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                format: 'DD/MM/YYYY',
                minDate: moment(new Date()).add(0, 'days').startOf('day'),
                widgetPositioning: {
                    horizontal: 'left',
                    vertical: 'bottom'
                }
            });
            $('#datetimepicker7').datetimepicker({
                useCurrent: false, //Important! See issue #1075
                format: 'DD/MM/YYYY',
                minDate: moment(new Date()).add(0, 'days').startOf('day'),
                widgetPositioning: {
                    vertical: 'bottom'
                }
            });
            $("#datetimepicker6").on("dp.change", function(e) {
                $('#datetimepicker7').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker7").on("dp.change", function(e) {
                $('#datetimepicker6').data("DateTimePicker").maxDate(e.date);
            });

        });

    </script>
}


@*<div class="overlay">
    <h2>Check Rental Car Rates</h2>
    <div class="row center-block">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="form-group">
                <h5>Pickup</h5>
                <div class="input-group date" id="datetimepicker6">
                    <input type="text" class="form-control text-center"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-6">
            <h5>Return</h5>
            <div class="form-group">
                <div class="input-group date" id="datetimepicker7">
                    <input type="text" class="form-control text-center"/>
                    <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>

        <a href='@Url.Action("Contact", "Home")' type="button" class="btn btn-default btnMain btnMain-light btn-lg">
            <span class="glyphicon glyphicon-search pull-right" aria-hidden="true"></span>Search
        </a>*@
<div class="overlay">
    <h2>Check Rental Car Rates</h2>
    <div class="row center-block">
        @using (Html.BeginForm("Index", "Order", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {encType = "multipart/form-data", @class = "form-inline", role = "form"})) {
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="form-group">
                    <h5>Pickup</h5>
                    @Html.ValidationMessageFor(model => model.StartDate, "", new {@class = "text-danger"})
                    <div class="input-group date" id="datetimepicker6">
                        @Html.EditorFor(model => model.StartDate, new {htmlAttributes = new {@class = "form-control text-center"}})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <h5>Return</h5>
                @Html.ValidationMessageFor(model => model.EndDate, "", new {@class = "text-danger"})
                <div class="form-group">
                    <div class="input-group date" id="datetimepicker7">
                        @Html.EditorFor(model => model.EndDate, new {htmlAttributes = new {@class = "form-control text-center"}})
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <button type="submit" value="Show offers" class="btn btn-default btnMain btnMain-light btn-lg btn-index">
                Search
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </Button>
        }
    </div>
</div>

<!-- Full Page Image Background Carousel Header -->
<div id="homeCarousel" class="carousel fade">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
    </ol>
    <!-- Wrapper for Slides -->
    <div class="carousel-inner">
        <div class="item active">
            <div class="fill" id="transmission0"></div>
        </div>
        <div class="item">
            <div class="fill" id="transmission1"></div>
        </div>
        <div class="item">
            <div class="fill" id="transmission2"></div>
        </div>
        <div class="item">
            <div class="fill" id="transmission3"></div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#homeCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#homeCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>